#part canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}
.container {
  width: 40%;
  height: 250px;
  place-content: center;
  /* position: relative; */
  /* padding: 10px; */
  text-align: center; 
  background: linear-gradient(
    135deg,
    rgba(48, 227, 170, 0.174),
    rgba(0, 14, 10, 0.174)
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /* border: 1.5px solid rgba(255,255,255,0.18); */
  box-shadow: 0 8px 32px 0 rgba(48, 48, 48, 0.37);
  border-radius: 1.25rem;
  overflow: hidden;
  box-sizing: border-box;
  /* padding: 5px; */
}
.container:hover {
  border: 2px solid transparent;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(
        135deg,
        rgb(4, 249, 208) 0%,
        black,
        black,
        rgb(0, 255, 119) 100%
      )
      border-box;
      /* padding: 10px 0px; */
      /* padding-top: 10px; */
      place-content:initial;
      /* height: 220px; */
}
.descp {
  height: 70px;
  text-align: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  /* bottom: 40px; */
  transition: 0.5s;
}
.container:hover .descp {
  height: 110px;
  bottom: 0px;
  background-color: rgba(48, 227, 170, 0.174);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.view {
  margin: 10px;
  opacity: 0;
  /* outline: none; */
  /* border: none; */
  font-size: 12px;
}
.container:hover .view {
  visibility: visible;
  opacity: 1;
  /* outline: none; */
  /* border: none; */
}
.span1{
  
    background-image: conic-gradient(from 90deg at 50% 50%,#00ff77 0%,#04f9d0 50%,#000000 100%);

}
.view:hover .span1{
  background-image:linear-gradient(#00ff77 ,#04f9d0);
  
}
.typing{
  letter-spacing: 1px;
  border-right: 5px solid;
  width:100%;
  text-wrap:wrap;
  /* white-space:nowrap; */
  overflow: hidden;
  animation: 
          typing 2s steps(18),
          cursor .4s step-end infinite alternate;

}

@keyframes typing{
  from {width: 0}
}
@keyframes cursor{
  50% { border-color: transparent;}
}
