.navItem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}


.beforeIntersect{
  
    --tw-text-opacity: 1;
    color: rgb(161 161 170 / var(--tw-text-opacity)) /* #a1a1aa */;
    padding-top: 0.5rem /* 8px */;
    padding-bottom: 0.5rem /* 8px */;
    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */; 
    
    
    
}
.beforeIntersect:hover{
    transition-duration: 200ms;
    --tw-text-opacity: 1;
    color: rgb(244 244 245 / var(--tw-text-opacity)) /* #f4f4f5 */;

}
.afterIntersect{

    padding-left: 1rem /* 16px */;
    padding-right: 1rem /* 16px */;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity)) /* #ffffff */;

}
.afterIntersect:hover{
    --tw-text-opacity: 1;
    color: rgb(161 161 170 / var(--tw-text-opacity)) /* #a1a1aa */;

}